<!DOCTYPE html>

<head>
    <link rel="icon" href="../images/vk-ok-2.jpg">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../styles/liity_jaseneksi.css">
    <title>J&auml;senyys</title>
</head>

<body>
<div id="otsikko_div">
    <img id="badminton_icon" src="/images/badminton_icon.png">
    <a href="../index.html"><img id="vk_logo" src="/images/vk_logo_purple.jpg"></a><br>
    &nbspSulkapalloseura Voittamisen Kulttuuri ry
</div>
<div id="contact_div">
    <p>voittamisenkulttuuriry@outlook.com</p>
    <p><a href="http://www.puhoscenter.fi/" style="color: white">Puhos Center Kulosaari</a></p>
    <p>Kulosaarentie 2, 00570 Helsinki</p>
</div>
<div id="topBarDiv">
    <button class="topBarButton" onclick="window.location.href='../index.html'">ETUSIVU</button>
    <button class="topBarButton" onclick="window.location.href='uutiset.html'">UUTISET</button>
    <button class="topBarButton" onclick="window.location.href='yhteydenotto.html'">YHTEYDENOTTO</button>
    <button class="topBarButton" >KILPAILUT / TAPAHTUMAT</button>
    <button class="topBarButton">YHTEISTY&Ouml;KUMPPANIT</button>
    <button class="topBarButton" onclick="window.location.href='racketlon.html'">RACKETLON</button>
    <button class="topBarButton">YHTEYSTIEDOT</button>
    <button class="topBarButton" id="jasenyysButton">LIITY J&Auml;SENEKSI</button>
    <button class="topBarButton" onclick="window.location.href='valmennus.html'">VALMENNUS</button>
    <button class="topBarButton" onclick="window.location.href='vkry.html'">VK ry</button>
</div>

<div id="jasenyysLomake">
    <h2>J&Auml;SENHAKEMUS</h2>
    <form name="mail" method="POST"
          action="../send-extra.php">
        <input type="checkbox"/> Olen lukenut ja hyv&auml;ksyn seuran s&auml;&auml;nn&ouml;t<br><br>
        <input type="text" placeholder="Etunimi" name="name"/><br>
        <input type="text" placeholder="Sukunimi" name="name"/><br>
        <input type="text" placeholder="Osoite" name="name"/><br>
        <input type="text" placeholder="Syntym&auml;aika" name="name"/><br>
        <input type="text" placeholder="S&auml;hk&ouml;posti" name="name"/><br>
        <input type="text" placeholder="Puhelin" name="name"/><br>
        <input type="text" placeholder="Vanhemman puh." name="name"/><br><br>
        <textarea id='projectDetails' rows="10" cols="40" placeholder="Muuta" name="details"></textarea><br>
        <input id="formSendButton" type="submit" name="submit"
               value="Liity"/>
        &nbsp;
    </form>
</div>

<div id="sponsori_ikkuna">
    <p id="voittamassa_mukana">Voittamassa mukana:</p>
    <a target="_blank" href="http://www.amdigipaino.fi"><img class="logo" src="/images/AM_logo.jpg"></a><br>
    <a target="_blank" href="http://www.flowdrinks.com"><img class="logo" src="/images/Flow_logo.jpg"></a><br>
    <a target="_blank" href="http://www.kiinteistomaailma.fi/helsinki-itakeskus"><img class="logo"
                                                                                      src="/images/km_logo.jpg"></a><br>
    <a target="_blank" href="http://www.massagebob.com"><img class="logo" src="/images/Bob_logo.jpg"></a><br>
    <a target="_blank" href="http://www.seuravaate.fi" class="logo_text">www.seuravaate.fi</a><br><br>
    <a target="_blank" href="http://www.treffipub.com"><img class="logo" src="/images/treffi_logo.jpg"></a><br>
    <h class="logo_text">Tmi Hannu Aro</h>
    <br><br>
    <a target="_blank" href="http://www.victor.fi"><img class="logo" src="/images/Victor_logo.jpg"></a><br>
    <a target="_blank" href="http://www.restless.fi" class="logo_text">www.restless.fi</a>
</div>

</body>