<!DOCTYPE html>

<head>
    <link rel="icon" href="../images/vk-ok-2.jpg">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../styles/racketlon.css">
    <title>Racketlon</title>
</head>

<body>
<div id="otsikko_div">
    <img id="badminton_icon" src="/images/badminton_icon.png">
    <a href="../index.html"><img id="vk_logo" src="/images/vk_logo_purple.jpg"></a><br>
    &nbspSulkapalloseura Voittamisen Kulttuuri ry
</div>
<div id="contact_div">
    <p>voittamisenkulttuuriry@outlook.com</p>
    <p><a href="http://www.puhoscenter.fi/" style="color: white">Puhos Center Kulosaari</a></p>
    <p>Kulosaarentie 2, 00570 Helsinki</p>
</div>
<div id="topBarDiv">
    <button class="topBarButton" onclick="window.location.href='../index.html'">ETUSIVU</button>
    <button class="topBarButton" onclick="window.location.href='uutiset.html'">UUTISET</button>
    <button class="topBarButton" onclick="window.location.href='yhteydenotto.html'">YHTEYDENOTTO</button>
    <button class="topBarButton" onclick="window.location.href='tapahtumat.html'">KILPAILUT / TAPAHTUMAT</button>
    <button class="topBarButton" onclick="window.location.href='yhteistyokumppanit.html'">YHTEISTY&Ouml;KUMPPANIT</button>
    <button class="topBarButton" id="racketlonButton">RACKETLON</button>
    <button class="topBarButton">YHTEYSTIEDOT</button>
    <button class="topBarButton" onclick="window.location.href='liity_jaseneksi.html'">LIITY J&Auml;SENEKSI</button>
    <button class="topBarButton" onclick="window.location.href='valmennus.html'">VALMENNUS</button>
    <button class="topBarButton" onclick="window.location.href='vkry.html'">VK ry</button>
</div>

<div id="uutisikkuna">
    <h1>Racketlon - Mailapelien moniottelu</h1>
    <p class="uutinen">
        Racketlon yhdist&auml;&auml; kaikki maailman nelj&auml; suosituinta mailapeli&auml;, pingiksen, sulkapallon, squashin ja tenniksen. Ottelun kulku tapahtuu
        kevyimm&auml;st&auml; mailasta raskaimpaa, eli edell&auml; mainitussa j&auml;rjestyksess&auml;. Jokainen laji pelataan 21 pisteeseen, mik&auml;li erotus squashin j&auml;lkeen
        ei ole liian suuri, jolloin tennis j&auml;&auml; kokonaan pelaamatta tai pelataan johtavan pelaajan riitt&auml;v&auml;&auml;n pistem&auml;&auml;r&auml;&auml;n asti.<br><br>

        Racketlon lajina on kovassa kasvussa niin Suomen mittapuulla, kuin my&ouml;s maailmalla. T&auml;m&auml;n vuoksi my&ouml;s VK l&auml;hti t&auml;m&auml;n vauhdikkaan junan matkaan.
        Lis&auml;&auml; tietoa lajista ja turnauksista l&ouml;ytyy racketlonliiton sivuilta <a target="_blank" href="http://www.racketlon.fi">www.racketlon.fi</a> ja kansainv&auml;lisen kattoj&auml;rjest&ouml;n FIR:n sivuilta
        <a target="_blank" href="http://www.racketlon.net">www.racketlon.net</a><br><br>

        Voittamisen Kulttuuri on my&ouml;s liiton alainen seura. Tapahtumia on tulossa my&ouml;s VK:n j&auml;rjest&auml;m&auml;n&auml; ja ensimm&auml;inen turnaus j&auml;rjestet&auml;&auml;nkin jo
        tammikuussa. <a href="tapahtumat.html">Kiinteist&ouml;maailma Splitlon</a> pelataan Kulosaaressa 19. ja 20. p&auml;iv&auml; tammikuuta ja tosiaan ilman squashia, sill&auml; kotiareenamme
        ei valitettavasti sis&auml;ll&auml; squashkoppeja.</p>
</div>

<div id="sponsori_ikkuna">
    <p id="voittamassa_mukana">Voittamassa mukana:</p>
    <a target="_blank" href="http://www.amdigipaino.fi"><img class="logo" src="/images/AM_logo.jpg"></a><br>
    <a target="_blank" href="http://www.flowdrinks.com"><img class="logo" src="/images/Flow_logo.jpg"></a><br>
    <a target="_blank" href="http://www.kiinteistomaailma.fi/helsinki-itakeskus"><img class="logo"
                                                                                      src="/images/km_logo.jpg"></a><br>
    <a target="_blank" href="http://www.massagebob.com"><img class="logo" src="/images/Bob_logo.jpg"></a><br>
    <a target="_blank" href="http://www.seuravaate.fi" class="logo_text">www.seuravaate.fi</a><br><br>
    <a target="_blank" href="http://www.treffipub.com"><img class="logo" src="/images/treffi_logo.jpg"></a><br>
    <h class="logo_text">Tmi Hannu Aro</h>
    <br><br>
    <a target="_blank" href="http://www.victor.fi"><img class="logo" src="/images/Victor_logo.jpg"></a><br>
    <a target="_blank" href="http://www.restless.fi" class="logo_text">www.restless.fi</a>
</div>
</body>