<!DOCTYPE html>

<head>
    <link rel="icon" href="../images/vk-ok-2.jpg">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../styles/tapahtumat.css">
    <title>Tapahtumat</title>
</head>

<body>
<div id="otsikko_div">
    <img id="badminton_icon" src="/images/badminton_icon.png">
    <a href="../index.html"><img id="vk_logo" src="/images/vk_logo_purple.jpg"></a><br>
    &nbspSulkapalloseura Voittamisen Kulttuuri ry
</div>
<div id="contact_div">
    <p>voittamisenkulttuuriry@outlook.com</p>
    <p><a href="http://www.puhoscenter.fi/" style="color: white">Puhos Center Kulosaari</a></p>
    <p>Kulosaarentie 2, 00570 Helsinki</p>
</div>
<div id="topBarDiv">
    <button class="topBarButton" onclick="window.location.href='../index.html'">ETUSIVU</button>
    <button class="topBarButton" onclick="window.location.href='uutiset.html'">UUTISET</button>
    <button class="topBarButton" onclick="window.location.href='yhteydenotto.html'">YHTEYDENOTTO</button>
    <button class="topBarButton" id="tapahtumatButton">KILPAILUT / TAPAHTUMAT</button>
    <button class="topBarButton" onclick="window.location.href='yhteistyokumppanit.html'">YHTEISTY&Ouml;KUMPPANIT
    </button>
    <button class="topBarButton" onclick="window.location.href='racketlon.html'">RACKETLON</button>
    <button class="topBarButton">YHTEYSTIEDOT</button>
    <button class="topBarButton" onclick="window.location.href='liity_jaseneksi.html'">LIITY J&Auml;SENEKSI</button>
    <button class="topBarButton" onclick="window.location.href='valmennus.html'">VALMENNUS</button>
    <button class="topBarButton" onclick="window.location.href='vkry.html'">VK ry</button>
</div>



<div class="ilmoittautumisLomake">
    <h1>Mailapeliturnaus (PE - LA) 19.-20.1.2018 </h1>
    <h3>Sarjojen ensimmäisiä otteluita pelataan aikaisintaan PE klo 19 jälkeen.
        <br><br>
Lajit: pingis, sulkapallo ja tennis. <br>
        Ilmoittautuminen 15.1.2018 menness&auml;<br>
        Osallistumismaksu 40 euroa sis&auml;lt&auml;&auml; juomat ja purtavaa.<br><br>

         </h3>
        <p1>Aikataulut:</p1>
        <br>
        <p1>Perjantai klo 19 alkaen ja lauantai n. klo 12 alkaen ovat alustavasti varattu otteluille. 
        Sarjojen finaalit saadaan pelattua arviolta ennen myöhäistä lauantai-iltaa. <br> 
        Koko sarja/t saatetaan pelata myös kokonaan lauantaina.</p1>
        <br><br>
        Kilpailijoita ei vakuuteta j&auml;rjest&auml;j&auml;n toimesta. Osallistuminen ei edellyt&auml; my&ouml;sk&auml;&auml;n
        seuraa tai lisenssi&auml;. <br>
    Vapaasti valittavissa olevat luokat ensikertalaisille (C) tai kilpapelajille (A). Luokat: A, B, C ja naiset. <br>      
        Turnaus pelataan harrastepohjalta, joten voit osallistua mihin tahansa luokkaan vapaasti.<br><br>
        
    </h3>
    <form name="mail" method="POST"
          action="https://voittajien-email-orja.herokuapp.com/splitlonIlmo" accept-charset="UTF-8"><br>
        <p1>Ilmoittautumislomake:</p1>
        <br>
        <p1>Pakolliset kent&auml;t merkitty (*)</p1>
        <br><br>
        <input type="text" placeholder="Etunimi" name="firstname" required/> *<br>
        <input type="text" placeholder="Sukunimi" name="lastname" required/> *<br>
        <input type="text" placeholder="Osoite" name="address"/><br>
        <input type="text" placeholder="Syntym&auml;aika" name="birthday" required/> *<br>
        <input type="text" placeholder="S&auml;hk&ouml;posti" name="email" required/> *<br>
        <input type="text" placeholder="Puhelin" name="phone" required/> *<br><br>
        <textarea id='details' rows="10" cols="40"
                  placeholder="Terveiset kisaorganisaatiolle. Toivomus mihin luokkaan... Kuvaile lyhyesti pelisi tasoa. Esim. aloittelija, harrastelija..."
                  name="levelOfPlay" required></textarea> *<br>
        <input id="formSendButton" type="submit" name="submit"
               value="Ilmoittaudu"/>
        &nbsp;
    </form>
    <br>
    <p1>Turnaus pelataan kaksinpelinä (ei siis nelinpeli&auml;), yksi vastaan yksi menetelmällä. <br> 
        Lajit pelataan aina järjestyksessä; 1. pingis, 2. sulkapallo, 3. tennis. <br>
       
  Turnauksen pelimuoto on cup tai pool -muoto. <br>
   Luokkia esim. A ja B voidaan yhdist&auml;&auml; tai pelaajia voidaan my&ouml;s j&auml;rjest&auml;j&auml;n
        toimesta siirt&auml;&auml; toiseen luokkaan.
    </p1>
    <br>
    <img src="../images/splitlon_mainos.jpg">
</div>
</body> 
 <h1>
<br><br> Suosituksena voi olla esim.<br>

        A -luokka, jos osaa kaikkia kolmea lajia hyvin tai kaksi vahvaa lajia. <br>

        B -luokka, jos yksi laji on tosi vahva ja muut ovat v&auml;h&auml;n tuttuja lajeja. <br>

        C -luokka, jos vain yksi laji on tuttu ja muut ovat heikkoja tai, jos ei ole kisannut kuin vain vähän yhdessä lajissa.
     <br><br>
      
     
</div>
<div id="sponsori_ikkuna">
<p id="voittamassa_mukana">Mailapeliturnauksen tukena:</p>
    <a target="_blank" href="http://www.amdigipaino.fi"><img class="logo" src="/images/AM_logo.jpg"></a><br>
    <a target="_blank" href="https://www.facebook.com/breadstickno4/"><img class="logo" src="/images/breadstick_logo.png"></a><br>
    <a target="_blank" href="http://www.flowdrinks.com"><img class="logo" src="/images/Flow_logo.jpg"></a><br>
    <h class="logo_text">Tmi Hannu Aro</h>
        <br><br>
    <a target="_blank" href="http://www.icyform.fi"><img class="logo" src="/images/icy_form_logo.png"></a><br><br>
    <a target="_blank" href="http://www.kiinteistomaailma.fi/helsinki-itakeskus"><img class="logo" src="/images/km_logo.jpg"></a><br>                                                                                    
    <a target="_blank" href="http://www.massagebob.com"><img class="logo" src="/images/Bob_logo.jpg"></a><br>
    <a target="_blank" href="https://bilia.fi/fi/liikkeet/liike/herttoniemi/"><img class="logo" src="/images/volvo_logo.png"></a   
</div>
</body>
     <br><br>
     Iso Kiitos!
     
     </h3>
        
         <br><br>
He tukevat turnausta - tue sinäkin heitä
<a target="_blank" href="https://bilia.fi/fi/liikkeet/liike/herttoniemi/">Bilia Volvo Herttoniemi</a> <br><br> 
<a target="_blank" href="https://www.facebook.com/breadstickno4/">Breadstick No.4</a>  <br><br>
Tankkauksesta pelien aikana vastaa <a target="_blank" href="https://www.facebook.com/flowdrinks/">Flow Drinks</a> <br><br>
Hallin palvelut, mailojen jännitykset ym. -Tmi Hannu Aro <br><br>
KiinteistöMake <br><br>
<a target="_blank" href="http://www.massagebob.com/">MassageBob</a> hierontapalvelut 
<br><br>

     ICY FORM -design <a target="_blank" href="http://icyform.com/">www.icyform.fi</a>

<br><br>

        P&auml;&auml;sarjan voittajat (naiset ja miehet A) palkitaan my&ouml;s vapaap&auml;&auml;syll&auml;

        "villikortti" <a target="_blank" href="http://www.racketlon.fi/?page_id=8/">Racketlonin SM-kisoihin 17.-18.3.2018</a>
j&auml;rjest&auml;jien/rankingin mukaiseen luokkaan.   
            <br><br>
                                                                                 
              
    
     
     <p class="uutinen"><u>Kiitos, ilman Teitä tämä ei olisi mahdollista!</u><br>

        <img class="kisan_spons_logo" src="/images/bilia_logo.jpg">

        <img class="kisan_spons_logo" src="/images/volvo_logo.png"> <br><br>
Turnauksen yhteydessä on mahdollisuus koeajaa Bilia Herttoniemen tarjoamaa elämystä - Volvon uutta V90 tai XC60 Hybrid -mallia.</p>
