<!DOCTYPE html>

<head>
    <link rel="icon" href="../images/vk-ok-2.jpg">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../styles/tapahtumat.css">
    <title>Tapahtumat</title>
</head>

<body>
<div id="otsikko_div">
    <img id="badminton_icon" src="/images/badminton_icon.png">
    <a href="../index.html"><img id="vk_logo" src="/images/vk_logo_purple.jpg"></a><br>
    &nbspSulkapalloseura Voittamisen Kulttuuri ry
</div>
<div id="contact_div">
    <p>voittamisenkulttuuriry@outlook.com</p>
    <p><a href="http://www.puhoscenter.fi/" style="color: white">Puhos Center Kulosaari</a></p>
    <p>Kulosaarentie 2, 00570 Helsinki</p>
</div>
<div id="topBarDiv">
    <button class="topBarButton" onclick="window.location.href='../index.html'">ETUSIVU</button>
    <button class="topBarButton" onclick="window.location.href='uutiset.html'">UUTISET</button>
    <button class="topBarButton" onclick="window.location.href='yhteydenotto.html'">YHTEYDENOTTO</button>
    <button class="topBarButton" id="tapahtumatButton">KILPAILUT / TAPAHTUMAT</button>
    <button class="topBarButton" onclick="window.location.href='yhteistyokumppanit.html'">YHTEISTY&Ouml;KUMPPANIT
    </button>
    <button class="topBarButton" onclick="window.location.href='racketlon.html'">RACKETLON</button>
    <button class="topBarButton">YHTEYSTIEDOT</button>
    <button class="topBarButton" onclick="window.location.href='liity_jaseneksi.html'">LIITY J&Auml;SENEKSI</button>
    <button class="topBarButton" onclick="window.location.href='valmennus.html'">VALMENNUS</button>
    <button class="topBarButton" onclick="window.location.href='vkry.html'">VK ry</button>
</div>

<div id="sponsori_ikkuna">
    <p id="voittamassa_mukana">Voittamassa mukana:</p>
    <a target="_blank" href="http://www.amdigipaino.fi"><img class="logo" src="/images/AM_logo.jpg"></a><br>
    <a target="_blank" href="http://www.flowdrinks.com"><img class="logo" src="/images/Flow_logo.jpg"></a><br>
    <a target="_blank" href="http://www.kiinteistomaailma.fi/helsinki-itakeskus"><img class="logo"
                                                                                      src="/images/km_logo.jpg"></a><br>
    <a target="_blank" href="http://www.massagebob.com"><img class="logo" src="/images/Bob_logo.jpg"></a><br>
    <a target="_blank" href="http://www.seuravaate.fi" class="logo_text">www.seuravaate.fi</a><br><br>
    <a target="_blank" href="http://www.treffipub.com"><img class="logo" src="/images/treffi_logo.jpg"></a><br>
    <h class="logo_text">Tmi Hannu Aro</h>
    <br><br>
    <a target="_blank" href="http://www.victor.fi"><img class="logo" src="/images/Victor_logo.jpg"></a><br>
    <a target="_blank" href="http://www.restless.fi" class="logo_text">www.restless.fi</a>
</div>

<div class="ilmoittautumisLomake">
    <h1>Mailapeliturnaus 19.-20.1.2018. PE-LA </h1>
    <h3>Aikataulu: Sarja/t voidaan myös pelata alusta loppuun lauantaina.
        Perjantai-ilta klo 19 jälk. ja lauantaip&auml;iv&auml; klo 12 jälk. ovat alustavasti varattu otteluille. 
        Mailapeliturnaus pelataan Racketlon-s&auml;&auml;nn&ouml;ill&auml;.
        Lajit: pingis, sulkapallo, tennis.<br><br>

        Ilmoittautuminen 15.1.2018 menness&auml;<br>
        Osallitumismaksu 40 euroa sis&auml;lt&auml;&auml; juomat ja purtavaa.<br><br>

        Kaaviot: www.voittamisenkulttuuri.com<br>
        Hannu puh. 050 328 9319<br>

        Kilpailijoita ei vakuuteta j&auml;rjest&auml;j&auml;n toimesta. Osallistuminen ei edellyt&auml; my&ouml;sk&auml;&auml;n
        seuraa tai lisenssi&auml;.
    </h3>
    <form name="mail" method="POST"
          action="https://voittajien-email-orja.herokuapp.com/splitlonIlmo"><br>
        <p1>Ilmoittautumislomake:</p1>
        <br>
        <p1>Pakolliset kent&auml;t merkitty (*)</p1>
        <br><br>
        <input type="text" placeholder="Etunimi" name="firstname" required/> *<br>
        <input type="text" placeholder="Sukunimi" name="lastname" required/> *<br>
        <input type="text" placeholder="Osoite" name="address"/><br>
        <input type="text" placeholder="Syntym&auml;aika" name="birthday" required/> *<br>
        <input type="text" placeholder="S&auml;hk&ouml;posti" name="email" required/> *<br>
        <input type="text" placeholder="Puhelin" name="phone" required/> *<br><br>
        <textarea id='details' rows="10" cols="40"
                  placeholder="Terveiset kisaorganisaatiolle. Kuvaile lyhyesti pelisi tasoa. Esim. Vasta-aloittanut, Harrastelija..."
                  name="levelOfPlay" required></textarea> *<br>
        <input id="formSendButton" type="submit" name="submit"
               value="Ilmoittaudu"/>
        &nbsp;
    </form>
    <br>
    <p1>Suosituksena voi olla esim.<br>

        A -luokka, jos osaa kaikkia kolmea lajia hyvin tai kaksi vahvaa lajia<br>

        B -luokka, jos yksi laji on tosi vahva ja muut ovat vain v&auml;h&auml;n tuttuja lajeja.<br>

        C -luokka, jos vain yksi laji on tuttu ja muut ovat heikkoja tai, jos ei ole kisannut kuin vain vähän yhdessä lajissa.<br>


        Turnaus pelataan harrastepohjalta, joten mihin tahansa luokkaan voi vapaasti osallistua. Voi ilmoittaa my&ouml;s
        j&auml;rjest&auml;jien p&auml;&auml;tett&auml;v&auml;ksi.
    </p1><br><br>
    <p1>Turnaus pelataan kaksinpeliturnauksena (ei siis nelinpeli&auml;), yksi vastaan yksi, cup tai pool
        -muotoisena.<br>
        Luokkia esim. A ja B voidaan yhdist&auml;&auml; tai pelaajia voidaan my&ouml;s j&auml;rjest&auml;j&auml;n
        toimesta siirt&auml;&auml; toiseen luokkaan.
    </p1>
    <br>
    <img src="../images/splitlon_mainos.jpg">
</div>
</body>
