 <!DOCTYPE html>

<head>
    <link rel="icon" href="../images/vk-ok-2.jpg">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../styles/uutiset.css">
    <title>The News</title>
</head>
 <meta charset="UTF-8"/>

<body>
<div id="otsikko_div">
    <img id="badminton_icon" src="/images/badminton_icon.png">
    <a href="../index.html"><img id="vk_logo" src="/images/vk_logo_purple.jpg"></a><br>
    <p>&nbspSulkapalloseura Voittamisen Kulttuuri ry</p>
</div>
<div id="contact_div">
    <p>voittamisenkulttuuriry@outlook.com</p>
    <p><a href="http://www.puhoscenter.fi/" style="color: white">Puhos Center Kulosaari</a></p>
    <p>Kulosaarentie 2, 00570 Helsinki</p>
</div>
<div id="topBarDiv">
    <button class="topBarButton" onclick="window.location.href='../index.html'">ETUSIVU</button>
    <button class="topBarButton" id="uutisetButton">UUTISET</button>
    <button class="topBarButton" onclick="window.location.href='yhteydenotto.html'">YHTEYDENOTTO</button>
    <button class="topBarButton" onclick="window.location.href='tapahtumat.html'">KILPAILUT / TAPAHTUMAT</button>
    <button class="topBarButton" onclick="window.location.href='yhteistyokumppanit.html'">YHTEISTY&Ouml;KUMPPANIT
    </button>
    <button class="topBarButton" onclick="window.location.href='racketlon.html'">RACKETLON</button>
    <button class="topBarButton" onclick="window.location.href='yhteystiedot.html'">YHTEYSTIEDOT</button>
    <button class="topBarButton" onclick="window.location.href='liity_jaseneksi.html'">LIITY J&Auml;SENEKSI</button>
    <button class="topBarButton" onclick="window.location.href='valmennus.html'">VALMENNUS</button>
    <button class="topBarButton" onclick="window.location.href='vkry.html'">VK ry</button>
</div>
<div id="uutisikkuna">
    <h1>Uutisia</h1>
  <p class="uutinen"><u>Ohhoh!!</u><br>
   Mailapelikisan purtavasta vastaa <button id="hansvalimaki_button">Hans&Välimäki</button> 19.1. Kulosaaressa...
   <br><br>
     
  
     <p class="uutinen"><u>Mailapelikisassa nähdään nimekkäitä ja kiinnostavia pelaajia!</u><br><br>
        Historiallisen kisan - hallin historian ensimmäisen mailapelikisan voittajasta käydään arvailuja. 
     <br>
     Kisan ottelut lähestyvät, joten on aika siirtyä hieman virallisempaan tilannekatsaukseen. 
     <br>
     Pelaajia on ilmoittautunut yli 40 eri urheilulajien taustoista ympäri Suomea.
      <br> 
      Pisimmät ajomatkat turnauspyhättöön lienee Sotkamosta ja Tampereelta.
     <br><br>
     Tuoreimman Racketlon-kisan Happy New Year -turnauksen avoimen sarjan voittaja Sami Lithenius (Kerava, TTC Boom) nähdään paikalla! 
     <br><br>
     
      Turnauksen A-luokka! Turnaukseen lähtee ykkössijoitettuna (1) Sami Lithenius, TTC BOOM ja kakkossijoitettuna itse oikeutettuna seuran, 
      <br> Voittamisen Kulttuuri ry, oma toivo (2) Hannu Aro.
      <br> <br>
      A-luokka, AM DIGI, pelataan kahdessa viiden (5) pelaajan lohkossa. Kaksi lohkon parasta jatkoon. Osa A-luokan otteluista pelataan jo perjantaina.
      <br><br>
      
      Volvo Hybrid -lohko; 
      <br>
(1.) Lithenius Sami <br>                    		
(4.) Heinonen Joonas     <br>              	
Von der Pahlen Willliam  <br>              	 
Jurikivi Toomas         <br>                           
Kauppila Kim            <br>   <br><br>
      
      ICY FORM -lohko; <br> 
(2.) Aro Hannu    <br>                                	
(3.) Vuorinen Juho   <br>    
Nissinen Mikko      <br>                              
Byckling Pauli      <br>                                
Savolainen Anton     
      <br><br>   
      
 <a target="_blank" href="www.tournamentsoftware.com/sport/events.aspx?id=C31C99E6-05CC-4714-89AA-E3D88D8A33EE/">Kaavio A-luokan peleihin...</a>
     
     <br><br>
   Turnauksessa pelataan etenkin pingiksessä kovatasoinen B-luokka, BobMassage -luokka, joka alkaa perjantaina. Luokan ykkössijoitettuna on Pekka Tennilä Tampereelta.
      BobMassage -luokka pelataan kahdeksan pelaajan cup-kaaviolla. Kaikille kolme ottelua. Sijat 5-8 pelataan myös. 
      <br> Yksi kaavion peleistä pelataan jo perjantaina. Sakke Rajala (2) vs. Jussi Isoperkkiö klo 20:30.
      <br><br>
      <a target="_blank" href="http://www.tournamentsoftware.com/sport/event.aspx?id=C31C99E6-05CC-4714-89AA-E3D88D8A33EE&event=2/">Kaavio B-luokan peleihin...</a>
      <br><br>
      Turnauksen C-luokassa, Breadstick, pelataan jopa yli 16 pelaajan cup-kaavio, jonka ykkössijoitettuna on hallin oma toivo Sara Tuomala. <br> 
      Turnauksen Breadstick -luokassa pelataan myös sijoitusotteluita vaikka häviäisi ensimmäisen kierroksen ottelun. Osa kaavion peleistä pelataan jo perjantaina. 
      Kakkossijoitettuna kaaviossa on kotihallin toinen toivo Robert Avellan. <br><br>
      <a target="_blank" href="www.tournamentsoftware.com/sport/event.aspx?id=C31C99E6-05CC-4714-89AA-/">Kaavio C -luokan peleihin...</a>
          <br><br> 
      Kisoissa pelataan myös juniorisarja, FlowDrinks, lauantaina. FlowDrinks -sarjassa on useita tulevaisuuden tähtipelaajia. 
      <br>
      Juniorit pelaavat FlowDrinks -sarjassa 11 pisteeseen.
      <br><br>
      
      Matti Koskelan, Mikko Nissisen, William von Der Pahlenin, Pessi Ekin, Ville Julinin, Jukka Julinin,
      Terho Pekkarisen, Aki Mikkosen, Jukka Raumannin ja Pekka Tennilän ensimmäiset ottelut alkavat vasta lauantaina. 
      <br> Kaikki muut pelaavat ainakin ensimmäisen kierroksen ottelunsa jo perjantaina. <br>
      Turnauksen avausotteluna on Henri Lehikoinen vs. Mikko Lammi, C -luokka, perjantaina klo 19.00!
      <br><br>
      Tarkistakaa vielä otteluaikanne. Esim. Heinonen, Kauppila, Jurikivi ottelun aikaa sekä järjestystä muutettu pyynnön vuoksi. 
      <br> 
      Toivottavasti tämä ohjelma toimii nyt kaikille. 
      <br><br>
      1. Muistakaa olla hyvissä ajoin vähintään 15 min. oman pelin alkua paikalla. <br>
      2. Muistakaa kunnioittaa kisajärjestäjän antamaa palloittelu/lämmittelyaikaa per jokainen laji. 
      <br> Aikataulu ovat tiukat -niin myös pelit!
      
     <br><br>
     Yksi turnauksen erikoisuuksista on Volvon pelaajille tarjoama mahdollisuus ShuttleService -palveluun 
     Kulosaaren metroaseman ja hallin välillä puh.numerosta (09) 621 1303 turnauksen aikana. </p>
            <br><br>
            
    <p class="uutinen"><u>Pingisvalmennusta</u><br><br>
        VKn mailapelikisan yhteyteen on mahdollisuus saada p&ouml;yt&auml;tennisvalmennusta.
        Saksalaistaustainen ja
        yli 10 vuotta Suomessa asunut Alex Dyroff järjestää kahden tunnin valmennuksen
        kisaviikonlopun lauantain
        aamuna klo 9-11 ennen toisen p&auml;iv&auml;n starttia. Hinta on 10 &euro;/hl&ouml;.<br><br>


        Valmennukseen voi ilmoittautua tapahtumat -linkistä tai <a
                href="http://markovalimaki@hotmail.com">markovalimaki@hotmail.com</a><br><br>


        Ps. Alexilla on my&ouml;s mailojen maahantuontia, joten h&auml;nelt&auml; voi my&ouml;s ostaa oman hyv&auml;n mailan.
        Sellaisen pingismailan, joita ei suomalaisesta urheilukaupasta löydä.</p>
 
    <br><br>
   
    <p class="uutinen"><u>Mailapelikisa 19.-20.1. Kulosaaressa!</u><br>
        Kulosaaren Puhos Centeriss&auml; pelattavan turnauksen avajaispuhe kuullaan perjantaina klo 18.30, 
        jonka jälkeen käynnistyvät lämmittelymahdollisuudet ja
        turnauksen ensimmäiset ottelut - aikaisintaan n. klo 19 alkaen. 
        Mahdollisuuksien mukaan illalla voidaan pelata tarvittaessa myös toisen kierroksen otteluita. Turnaus
        jatkuu (LA pingisleirin klo 09-11 jälkeen) lauantaina n. klo 11.30
        alkaen. Aikatauluissa voidaan huomioida toivetta pelata kaikki ottelut esim. lauantaina (muista mainita
        kommenttikentässä ilmon yhteydessä). Pääpaino kaikissa sarjoissa ja otteluissa on siis lauantai!
        Sarjojen finaaleja saadaan pelattua loppuun lauantai-iltaan mennessä.
        <br><br>

        Turnauksen kilpailulajit ovat p&ouml;yt&auml;tennis, sulkapallo ja tennis. Jokaisessa lajissa peli p&auml;&auml;ttyy,
        kun johdossa
        oleva pelaaja on voittanut 21 pistett&auml;. Lajivoittoon tarvitaan kuitenkin aina kahden pisteen ero. Pelaaja,
        joka
        ker&auml;&auml; kolmesta lajista eniten yhteispisteit&auml; voittaa mailapeli-ottelun.<br><br>

        Turnauksessa on käytössä tod.näk. peräti neljä pingispöytää, joista yksi ns. lämmittelypöytä ja keskikentillä
        sijaitseva päänäyttämön keskuspöytä (live-stream).
        Sulkapallokenttiä on koko ajan käytössä vähintään kaksi, joista toinen ns. keskuskenttä (live-stream). Viimeinen
        laji, tennis, pelataan kahdella kentällä.
        Tenniskentät ovat joustopuulattian päälle valmistetut Bolltex Elite -pinnoitteet. Varatenniskenttänä toimii kova
        GreenSet-kenttä.<br><br>

Turnauksessa on mahdollista saada pelaajille ShuttleService Kulosaaren metroaseman ja hallin välillä. 
     Osasta otteluita saadaan lyhyitä live-stream
     -lähetyksiä Helsinki Hawks`n Facebook -sivuilta. <br><br>
     
        Turnauksessa pelataan siis Racketlon -s&auml;&auml;nn&ouml;ill&auml; vaikka varsinaisesti puhumme t&auml;ss&auml;
        yhteydess&auml; vain
        mailapelikisasta koska squashia ei tosiaan pelata.<br><br>

        Turnaukseen osallistuminen ei edellyt&auml; mailapeliseuraa tai -lisenssi&auml;. Kilpalijoita ei n&auml;in ollen
        luonnollisesti
        vakuuteta, eik&auml; lisenssi ole t&auml;ten pakollinen. Vapaaehtoisen lisenssin, jolla voi kilpailla muissa
        kansallisissa kilpailuissa, voi halutessa ostaa turnauksen yhteydess&auml;. Luokkia on tarjolla kaiken tasoiseen
        kilpailemiseen
        sis&auml;lt&auml;en my&ouml;s ensikertalaisten luokan.<br><br>

        Osallistuminen ja ilmoittautuminen: voittamisenkulttuuriry@outlook.com TAI
        ilmoittautumislomakkeesta, joka l&ouml;ytyy <a
                href="tapahtumat.html">tapahtumat</a>-v&auml;lilehdest&auml;<br><br>

        Turnauksen kaaviot ja otteluajat julkaistaan näillä sivuilla tai: <br>
        Hannu Aro puh. 050 328 9319<br><br>

        <a target="_blank" href="http://www.racketlon.fi">www.racketlon.fi</a> sivulta l&ouml;ytyy my&ouml;s lis&auml;&auml;
        tietoa racketlon-lajista. </p><br><br>

    <p class="uutinen"><u>Mailapelikisan mahdollistaa ja turnausta tukevat</u><br>
        <img class="kisan_spons_logo" src="/images/bilia_logo.jpg">
        <img class="kisan_spons_logo" src="/images/volvo_logo.png">
        <img class="kisan_spons_logo" src="/images/breadstick_logo.png">
        <img class="kisan_spons_logo" src="/images/Flow_logo.jpg">
        <img class="kisan_spons_logo" src="/images/km_logo.jpg">
        <img class="kisan_spons_logo" src="/images/icy_form_logo.png">
        <img class="kisan_spons_logo" src="/images/Bob_logo.jpg"><br><br>
        Turnauksen tukena ovat Bilia Volvo Herttoniemi, Breadstick No.4, Flow Drinks, Kiinteist&ouml;maailma, Kiinteistömake, ICY
        FORM, Mailajännitys-Aro, MassageBob, Suomen Racketlonliitto...<br>
        Autot vaihtoon kisan aikana! <a target="_blank" href="https://bilia.fi/fi/liikkeet/liike/herttoniemi/">Volvon autot</a> (V90 ja XC60 Hybrid) ovat kisojen aikana esittelyss&auml; ja
        koeajettavissa.<br><br>
        Riittävän hyvin pelanneille tiedossa ilmaisia lounaita! <a target="_blank" href="https://www.facebook.com/breadstickno4/">Breadstick No.4</a> tarjoaa lahjakortteja
        kulinaristipaikkoihinsa.<br><br>
        Turnauksen tankkauksesta pelisuorituksen aikana vastaa suomalainen <a target="_blank" href="https://www.facebook.com/flowdrinks/">Flow Drinks</a> -terveysjuoma.<br><br>
        Tmi Hannu Aro jännittää sulkis- ja tennismailat.<br><br> 
        Asunnot myy Kiinteist&ouml;-Make id&auml;st&auml;.<br><br>
        <a target="_blank" href="http://icyform.com/"> ICY FORM</a>  -design tuotteita tavarapalkintoina.<br><br>

        Hallin oma kuuluisa <a target="_blank" href="http://www.massagebob.com/">MassageBob</a> palkitsee hyvin pelanneita lahjakorteilla. Hierontaa tarjolla kisan aikana esim.
        katsojille.<br><br>
        <a target="_blank" href="http://www.racketlon.fi/">Racketlon Finland</a> toteuttaa <a target="_blank" href="http://fir.tournamentsoftware.com/">tournamentsoftware</a> -kaavion ja julkaisee kisaraportin sekä kuvia
        turnauksesta.<br><br>

        P&auml;&auml;sarjan voittajat (naiset ja miehet A) palkitaan my&ouml;s vapaap&auml;&auml;syll&auml;
        "villikortti" <a target="_blank" href="http://www.racketlon.fi/?page_id=8/">Racketlonin SM-kisoihin 17.-18.3.2018</a>
        <a target="_blank" href="https://smashtennis.sporttisaitti.com/hallit/finland_tennis_club/">(Myllypurossa)</a> j&auml;rjest&auml;jien/rankingin mukaiseen
        paikkaan.

    </p>
    <br><br>
 
 <p class="uutinen"><u>Racketlonin lisenssi</u><br><br>
        Nyt on mahdollista ostaa koko vuoden 2018 voimassa oleva lisenssi Racketloniin tätä kautta. Hinta koko vuodelle on aikuisilta vaivaiset 14 euroa. 
  Lapsilta vielä edullisempi. SuomiSport, eli lisenssi kattaa kaikki vuoden Racketlon-kisat ja rankingin määräytymisen Racketlonliiton ylläpitämään Rankinglistaan. Kaksinpelin SM-kisat
  pelataan Smash Centerissä maaliskuun 16.-18.3. päivänä. Joukkue SM-kisat pelataan kesän jälkeen ja todennäköisesti Tuusulassa. Olisi hienoa, jos VK saisi oman
  joukkueen SM-kisoihin. (VKn tammikuun mailapelikisassa lisenssi ei ole kuitenkaan pakollinen). <br><br>
  
  Sporttipassin lunastaminen käy helposti - <a target="_blank" href="https://www.suomisport.fi/">valitse</a>
  <br> 
  1. "Sisään Suomisporttiin"-painike 
  <br>
  2. "Kirjoita s-postisi" ja valitse Racketlon-seurasi (VK).
  <br>
  3. Järjestelmä lähettää tunnukset Suomisporttiin sähköpostiisi ja eikun pelaamaan.
  <br><br>
  <a target="_blank" href="https://www.suomisport.fi/">SuomiSport.fi</a>
    
  </p>
    <br><br>
      
     
     
    <p class="uutinen"><i><u>L&ouml;Scaba #25</u></i><br><br>
        Maailman kaunein sulkapalloturnaus j&auml;rjestettiin kahdennenkymmenennenviidennen kerran, Kulosaaressa
        tottakai!<br><br>

        Alkuun l&auml;mmin kiitos yhteisty&ouml;kumppaneille, jotka mahdollistivat t&auml;m&auml;n ikimuistoisen
        launtaiehtoon!<br><br>

        AM Digipaino, Flow Drinks, Kiinteist&ouml;maailma It&auml;keskus, massageBob, Tmi Hannu Aro, Treffi Pub,
        www.restless.fi, www.seuravaate.fi<br><br>

        <img id="loscaba_kuva" src="../images/loscaba_2015.jpg">
        Se puhutuin, se tavoitelluin, se kaunein, se hauskin, se kokonaisvaltaisin... ...se surullisin - ainakin niille
        49 muulle osallistujalle. J&auml;rjestysnumero 25 miteltiin jo perinteisesti Kulosaaressa 18.11.2017. Verinen
        taistelu k&auml;ytiin yhdess&auml; sarjassa: Mestaruus. Toki mukana oli kaikille jotain ja mestaruudesta
        palkittiin my&ouml;s Hupi- ja Nelinpeliluokassa.<br><br>

        Kilpasarjassa nimens&auml; mukaisesti mitteliv&auml;t kaikki olympiatason sulkapalloilijat. Pelitapa oli
        uusituulahdus, joka lainattiin elektronisen urheilun puolelta ja tottelee nime&auml; Swiss System. Lohkot siis k&auml;ytiin
        periaatteella 3 voittoa jatkoon, 3 tappiota ja lauluun. Lohkovaiheet meniv&auml;t siidattujen pelaajien osalta
        muuten hyvin odotetusti, luukunottamatta kalamies-Laitisen Jampan jopa hieman n&auml;r&auml;&auml; her&auml;tt&auml;nytt&auml;
        siiman antoa ennalta heikompia vastustajia vastaan.<br><br>

        Hupisarjassa oli j&auml;lleen kymmeni&auml; ensikertalaisia kokeilemassa siipi&auml;&auml;n, mutta kuten VK:n
        arvomaailmaan kuuluu -"vain voittajat muistetaan". Per Saris tuli, oli ykk&ouml;ssiidi ja n&auml;in h&auml;n
        otti omansa - taas. Lieneek&ouml; t&auml;m&auml; luokkahuijari tulevan uuden sarjan nimelt&auml; harraste ensimm&auml;inen
        ykk&ouml;ssiidi.<br><br>

        Kilpasarjan kaaviovaiheessa pelit kovenivat ja tarjoilut paranivat. Kiitos j&auml;lleen kerran cateringille joka
        toimittaa taivaalliset piirakat rakkaille kilpailuosallistujillemme. "Kalamiehen" surffailu ja siiman jakaminen
        sai aikaan sen, ett&auml; moraalinen finaali pelattiinkin VK:n kotikent&auml;ll&auml; 3 jo puoliv&auml;lier&auml;vaiheessa.
        Kaksteistkertanemestar-Aro l&auml;hti ylimielisesti, vasta toista kertaa maailman kauneinpaan osallistuneeseen
        Jani "kahenkilonsiika" Laitista vastaan. T&auml;m&auml; "moraalinen finaali" kostautuikin farssiksi, sill&auml;
        Laitinen piti noin 20min privaatin VK:n veteraanimestarille. My&ouml;hemmin kaaviossa nuoriosuja Niilo Nyqvist
        poimi v&auml;lieriss&auml; oman privaattituntista Kalamiehelt&auml; ja finaalissa
        maajoukkue-Nico (Nicolas Vena) joutui my&ouml;s tunnustamaan urponer&auml;miehen valmentajakseen. N&auml;in
        ollen toista kertaa mukana ollut Jani Laitinen poistui paikalta pokaalin, lahjakorttien,... ...Ennen kaikkea sen
        maailman arvostetuimman sulkapallotittelin eli L&ouml;Scaban mestarin viitan kanssa.<br><br>

        Nelinpeliss&auml; sitten NuoriNiilo piti kaasun pohjassa ensimm&auml;iselt&auml; kierrokselta mestaruuteen
        asti... ...toivottavasti nelinpeli parille maju-Nicollekin tarttui muutama oppi matkaan!<br><br>

        Seura kiitt&auml;&auml; kaikkia osallistuneita ja toivottaa kaikki tervetulleiksi my&ouml;s jatkossa! Kev&auml;&auml;ll&auml;
        menn&auml;&auml;n seuraavan kerran ja alustavasti toukokuun puolenv&auml;lin hujakoilla.<br><br>

        Voittajia Onnitellen<br><br>

        Sulkapalloseura Voittamisen Kulttuuri</p><br><br>
    <p class="uutinen"><i><u>VK:sta Racketlon seura</u></i><br><br>
        VK on liittynyt <a target="_blank" href="http://www.racketlon.fi/">Racketlon<a>-liiton jäsenseuraksi.<br><br>

            Liiton kilpailutoimikunnan kanssa k&auml;ytyjen neuvotteluiden seurakusena sulkapalloseura Voittamisen
            Kulttuuri ry, on nyt my&ouml;s virallisesti <a target="_blank" href="http://www.racketlon.fi/">Racketlon<a>-seura.
                Seuran j&auml;senill&auml; on oikeus osallistuaa racketlon-liiton alaisiin kilpailuihin VK:n v&auml;reiss&auml;.
                VK:n
                seura- ja kilpailutoiminnan p&auml;&auml;fokus s&auml;ilyy tottakai sulkapallon ymp&auml;rill&auml;,
                mutta kehitysty&ouml;t&auml; racketlonin parissa aloitellaan kev&auml;&auml;n mittaan.<br><br>

                Racketloniin l&auml;hdet&auml;&auml;n my&ouml;s tapahtumien puolesta mukaan ja VK j&auml;rjest&auml;&auml;kin
                ensimm&auml;isen <a href="tapahtumat.html">racketlon turnauksen</a>
                jo tammikuun 19-20. Normaalista poiketen squash j&auml;&auml; pois ohjelmasta ja turnauksessa
                kilpaillaan pingiksen, sulkapallon ja tenniksen parissa, sill&auml;
                Kulosaaren pyh&auml;t&ouml;ll&auml; ei valitettavasti ole tarjota squashia varten kentti&auml;. Turnaus
                ei vaadi liiton kilpailulisenssi&auml;, joten ensikertalaiset
                p&auml;&auml;sev&auml;t helposti tutustumaan lajin saloihin Kulosaaressa.<br><br>

                Ilmoittautuminen turnaukseen tapahtuu s&auml;hk&ouml;postitse voittamisenkultuuriry@outlook.com tai <a
                        href="tapahtumat.html">turnaukset / tapahtumat</a> -linkin alta. Ilmottautumisaikaa
                on 15.1.2018, joten pikapikaa ilmottautumaan mukaan!<br><br>

                Yst&auml;v&auml;llisin Terveisin<br>
                VK-Hallitus</p>

</div>
<div id="sponsori_ikkuna">
    <p id="voittamassa_mukana">Voittamassa mukana:</p>
    <a target="_blank" href="http://www.amdigipaino.fi"><img class="logo" src="/images/AM_logo.jpg"></a><br>
    <a target="_blank" href="http://www.flowdrinks.com"><img class="logo" src="/images/Flow_logo.jpg"></a><br>
    <a target="_blank" href="http://www.kiinteistomaailma.fi/helsinki-itakeskus"><img class="logo"
                                                                                      src="/images/km_logo.jpg"></a><br>
    <a target="_blank" href="http://www.massagebob.com"><img class="logo" src="/images/Bob_logo.jpg"></a><br>
    <a target="_blank" href="http://www.seuravaate.fi" class="logo_text">www.seuravaate.fi</a><br><br>
    <a target="_blank" href="http://www.treffipub.com"><img class="logo" src="/images/treffi_logo.jpg"></a><br>
    <h class="logo_text">Tmi Hannu Aro</h>
    <br><br>
    <a target="_blank" href="http://www.victor.fi"><img class="logo" src="/images/Victor_logo.jpg"></a><br>
    <a target="_blank" href="http://www.restless.fi" class="logo_text">www.restless.fi</a>
</div>



<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span><br>
        <img id="hansvalimaki_img" src="../images/hans_ja_valimaki.jpg"/>
    </div>

</div>
<script src="../scripts/uutiset.js"></script>
</body>
