<!DOCTYPE html>

<head>
    <link rel="icon" href="../images/vk-ok-2.jpg">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../styles/uutiset.css">
    <title>The News</title>
</head>

<body>
<div id="otsikko_div">
    <img id="badminton_icon" src="/images/badminton_icon.png">
    <a href="../index.html"><img id="vk_logo" src="/images/vk_logo_purple.jpg"></a><br>
    &nbspSulkapalloseura Voittamisen Kulttuuri ry
</div>
<div id="contact_div">
    <p>voittamisenkulttuuriry@outlook.com</p>
    <p><a href="http://www.puhoscenter.fi/" style="color: white">Puhos Center Kulosaari</a></p>
    <p>Kulosaarentie 2, 00570 Helsinki</p>
</div>
<div id="topBarDiv">
    <button class="topBarButton" onclick="window.location.href='../index.html'">ETUSIVU</button>
    <button class="topBarButton" id="uutisetButton">UUTISET</button>
    <button class="topBarButton" onclick="window.location.href='yhteydenotto.html'">YHTEYDENOTTO</button>
    <button class="topBarButton" onclick="window.location.href='tapahtumat.html'">KILPAILUT / TAPAHTUMAT</button>
    <button class="topBarButton" onclick="window.location.href='yhteistyokumppanit.html'">YHTEISTY&Ouml;KUMPPANIT
    </button>
    <button class="topBarButton" onclick="window.location.href='racketlon.html'">RACKETLON</button>
    <button class="topBarButton">YHTEYSTIEDOT</button>
    <button class="topBarButton" onclick="window.location.href='liity_jaseneksi.html'">LIITY J&Auml;SENEKSI</button>
    <button class="topBarButton" onclick="window.location.href='valmennus.html'">VALMENNUS</button>
    <button class="topBarButton" onclick="window.location.href='vkry.html'">VK ry</button>
</div>
<div id="uutisikkuna">
    <h1>Uutisia</h1>
    <p class="uutinen"><u>Mailapelikisa 19.-20.1. Kulosaaressa!</u><br><br>
        Kulosaaren Puhos Centeriss&auml; pelattavan turnauksen avajaispuhe kuullaan perjantaina klo 18.30, 
        jonka jälkeen käynnistyvät lämmittelymahdollisuudet ja
        turnauksen ensimmäiset ottelut - aikaisintaan n. klo 19 alkaen.
        Mahdollisuuksien mukaan illalla voidaan pelata tarvittaessa myös toisen kierroksen otteluita. Turnaus
        jatkuu (LA pingisleirin klo 09-11 jälkeen) lauantaina n. klo 11.30
        alkaen. Aikatauluissa voidaan huomioida toivetta pelata kaikki ottelut esim. lauantaina (muista mainita
        kommenttikentässä ilmon yhteydessä).
        Sarjojen finaaleja saadaan pelattua loppuun alustavan arvion mukaan ennen lauantai-iltaa.
        <br><br>

        Turnauksen kilpailulajit ovat p&ouml;yt&auml;tennis, sulkapallo ja tennis. Jokaisessa lajissa peli p&auml;&auml;ttyy,
        kun johdossa
        oleva pelaaja on voittanut 21 pistett&auml;. Lajivoittoon tarvitaan kuitenkin aina kahden pisteen ero. Pelaaja,
        joka
        ker&auml;&auml; kolmesta lajista eniten yhteispisteit&auml; voittaa mailapeli-ottelun.<br><br>

        Turnauksessa on käytössä tod.näk. peräti neljä pingispöytää, joista yksi ns. lämmittelypöytä ja keskikentillä
        sijaitseva päänäyttämön keskuspöytä (live-stream).
        Sulkapallokenttiä on koko ajan käytössä vähintään kaksi, joista toinen ns. keskuskenttä (live-stream). Viimeinen
        laji, tennis, pelataan kahdella kentällä.
        Tenniskentät ovat joustopuulattian päälle valmistetut Bolltex Elite -pinnoitteet. Varatenniskenttänä toimii kova
        GreenSet-kenttä.<br><br>


        Turnauksessa pelataan siis Racketlon -s&auml;&auml;nn&ouml;ill&auml; vaikka varsinaisesti puhumme t&auml;ss&auml;
        yhteydess&auml; vain
        mailapelikisasta koska squashia ei tosiaan pelata.<br><br>

        Turnaukseen osallistuminen ei edellyt&auml; mailapeliseuraa tai -lisenssi&auml;. Kilpalijoita ei n&auml;in ollen
        luonnollisesti
        vakuuteta, eik&auml; lisenssi ole t&auml;ten pakollinen. Vapaaehtoisen lisenssin, jolla voi kilpailla muissa
        kansallisissa kilpailuissa, voi halutessa ostaa turnauksen yhteydess&auml;. Luokkia on tarjolla kaiken tasoiseen
        kilpailemiseen
        sis&auml;lt&auml;en my&ouml;s ensikertalaisten luokan.<br><br>

        Osallistuminen ja ilmoittautuminen: voittamisenkulttuuriry@outlook.com TAI
        ilmoittautumislomakkeesta, joka l&ouml;ytyy <a
                href="tapahtumat.html">tapahtumat</a>-v&auml;lilehdest&auml;<br><br>

        Turnauksen kaaviot ja otteluajat julkaistaan näillä sivuilla tai: <br>
        Hannu Aro puh. 050 328 9319<br><br>

        <a target="_blank" href="http://www.racketlon.fi">www.racketlon.fi</a> sivulta l&ouml;ytyy my&ouml;s lis&auml;&auml;
        tietoa racketlon-lajista. </p><br><br>

    <p class="uutinen"><u>Mailapelikisan mahdollistaa ja turnausta tukevat</u><br>
        <img class="kisan_spons_logo" src="/images/bilia_logo.jpg">
        <img class="kisan_spons_logo" src="/images/volvo_logo.png">
        <img class="kisan_spons_logo" src="/images/breadstick_logo.png">
        <img class="kisan_spons_logo" src="/images/Flow_logo.jpg">
        <img class="kisan_spons_logo" src="/images/km_logo.jpg">
        <img class="kisan_spons_logo" src="/images/icy_form_logo.png">
        <img class="kisan_spons_logo" src="/images/Bob_logo.jpg"><br><br>
        Turnauksen tukena ovat Bilia Volvo Herttoniemi, Breadstick No.4, Flow Drinks, Kiinteist&ouml;maailma, Kiinteistömake, ICY
        FORM, Mailajännitys-Aro, MassageBob, Suomen Racketlonliitto...<br>
        Autot vaihtoon kisan aikana! <a target="_blank" href="https://bilia.fi/fi/liikkeet/liike/herttoniemi/">Volvon autot</a> (V90 ja XC60 Hybrid) ovat kisojen aikana esittelyss&auml; ja
        koeajettavissa.<br><br>
        Riittävän hyvin pelanneille tiedossa ilmaisia lounaita! <a target="_blank" href="https://www.facebook.com/breadstickno4/">Breadstick No.4</a> tarjoaa lahjakortteja
        kulinaristipaikkoihinsa.<br><br>
        Turnauksen tankkauksesta pelisuorituksen aikana vastaa suomalainen <a target="_blank" href="https://www.facebook.com/flowdrinks/">Flow Drinks</a> -terveysjuoma.<br><br>
        Tmi Hannu Aro jännittää sulkis- ja tennismailat.<br><br> 
        Asunnot myy Kiinteist&ouml;-Make id&auml;st&auml;.<br><br>
        <a target="_blank" href="http://icyform.com/"> ICY FORM</a>  -design tuotteita tavarapalkintoina.<br><br>

        Hallin oma kuuluisa <a target="_blank" href="http://www.massagebob.com/">MassageBob</a> palkitsee hyvin pelanneita lahjakorteilla. Hierontaa tarjolla kisan aikana esim.
        katsojille.<br><br>
        <a target="_blank" href="http://www.racketlon.fi/">Racketlon Finland</a> toteuttaa <a target="_blank" href="http://fir.tournamentsoftware.com/">tournamentsoftware</a> -kaavion ja julkaisee kisaraportin sekä kuvia
        turnauksesta.<br><br>

        P&auml;&auml;sarjan voittajat (Naiset ja Miehet A) palkitaan my&ouml;s vapaap&auml;&auml;syll&auml;
        "villikortti" <a target="_blank" href="http://www.racketlon.fi/?page_id=8/">Racketlonin SM-kisoihin 17.-18.3.2018</a>
        <a target="_blank" href="https://smashtennis.sporttisaitti.com/hallit/finland_tennis_club/">(Myllypurossa)</a> j&auml;rjest&auml;jien/rankingin mukaiseen
        paikkaan.

    </p>
    <br><br>


    <p class="uutinen"><u>Pingisvalmennusta</u><br><br>
        VKn mailapelikisan yhteyteen on mahdollisuus saada p&ouml;yt&auml;tennisvalmennusta.
        Saksalaistaustainen ja
        yli 10 vuotta Suomessa asunut Alex Dyroff järjestää kahden tunnin valmennuksen
        kisaviikonlopun lauantain
        aamuna klo 9-11 ennen toisen p&auml;iv&auml;n starttia. Hinta on 10 &euro;/hl&ouml;.<br><br>


        Valmennukseen voi ilmoittautua kisailmoittaumisen yhteydess&auml; tai <a
                href="http://markovalimaki@hotmail.com">markovalimaki@hotmail.com</a><br><br>


        Ps. Alexilla on my&ouml;s mailojen maahantuontia, joten h&auml;nelt&auml; voi my&ouml;s ostaa oman hyv&auml;n
        pingismailan joita ei norm.
        urheilukaupasta Suomessa valitettavasti saa.</p>
    <br><br>

    <p class="uutinen"><u>Mailapelikisassa nähdään Presidentti ja Kuningas!</u><br><br>
        Historiallisen kisan - hallin historian ensimmäisen Mailapelikisan voittajasta käydään kahvipöytien äärellä
        keskustelua.
        Kentiltä on kantautunut veikkauksia, joissa voittajat tulisivat muualta kuin Kulosaaresta. Koskaan
        aikaisemmin Qliksessa kuuluneista nimistä...joku <a target="_blank" href="http://www.racketlon.fi/?p=2427/">Juho Vuorinen</a> ja 
        <a target="_blank" href="http://www.racketlon.fi/?p=2558">Kuningas Sami Lithenius</a> olisivat näissä arvailuisssa finalistiparina??!!
        Seuran presidentin julkaisemien kertoimien innoittamana moni asettaa setelinippunsa sille, että hallin oma
        talonmies-vaksi-koiranulkoiluttaja-mailanjännittäjä-vahtimestari-pelikaveri-kulta-poika 
        <a target="_blank" href="https://badmintonfinland.tournamentsoftware.com/sport/draw.aspx?id=613B144E-FBBE-4EC4-9CE5-B4ABEF691FEE&draw=3"/>Hans Aro</a>, 
        vie kumminkin historiallisen pystin himaan jomman kumman ed.mainitun nenän edestä.
        J. Isoperkkiö, H. Lehikoinen, J. Honkanen, H. Gröhn, A. Savolainen, 
    <a target="_blank" href="http://www.synkkauhma.com/index.php?k=on&ch=pe&ch2=pe&sub=133/">J. Peltonen</a> , 
    <a target="_blank" href="https://www.facebook.com/photo.php?fbid=10155590651777645&set=a.150300932644.115964.676527644&type=3&theater/">P. Byckling</a> , 
    K. Kauppila ovat nimiä joilla on
        varmasti jotain yllättävää näihin veikkauksiin. Hallin oma kulta-tyttö <a target="_blank" href="http://bwfbadminton.com/player/77998/sara-tuomala/">Sara Tuomala</a> ja  
        <a target="_blank" href="http://www.racketlon.fi/?p=2142/">Heli Mäkelä</a> ovat valmiina
        tarvittaessa hyppäämään rohkeasti miesten sarjaan.
        Hallin vakkarimestarit; Bobi, kaikkien lajien nelurispesialisti 
    <a target="_blank" href="www.sulkapallo.org/SSUL/ssulwww.nsf/sp?Open&cid=Content6E630-mn35-3-2/">Mikko Lammi</a> , 
    <a target="_blank" href="http://www.atpworldtour.com/en/players/toomas-jurikivi/j292/overview/">Tom Jurikivi</a> , <a target="_blank" href="http://www.racketlon.fi/?p=227"/> Joonas Heinonen</a> ja
        presidentti <a target="_blank" href="http://fir.tournamentsoftware.com/sport/draw.aspx?id=720A6F1F-26FE-442A-9337-D6AF11B7E34F&draw=8"/>I. Lehtinen</a> tutkivat myös mahdollisuuksiaan finaaliin kotihallinsa sarjassa.
        <a target="_blank" href="http://www.itftennis.com/juniors/players/player/profile.aspx?playerid=100111780/">Berneri</a> pelaa muuten sitten turnauksen vasemmalla kädellä. <br><br>


    <p class="uutinen"><i><u>L&ouml;Scaba #25</u></i><br><br>
        Maailman kaunein sulkapalloturnaus j&auml;rjestettiin kahdennenkymmenennenviidennen kerran, Kulosaaressa
        tottakai!<br><br>

        Alkuun l&auml;mmin kiitos yhteisty&ouml;kumppaneille, jotka mahdollistivat t&auml;m&auml;n ikimuistoisen
        launtaiehtoon!<br><br>

        AM Digipaino, Flow Drinks, Kiinteist&ouml;maailma It&auml;keskus, massageBob, Tmi Hannu Aro, Treffi Pub,
        www.restless.fi, www.seuravaate.fi<br><br>

        <img id="loscaba_kuva" src="../images/loscaba_2015.jpg">
        Se puhutuin, se tavoitelluin, se kaunein, se hauskin, se kokonaisvaltaisin... ...se surullisin - ainakin niille
        49 muulle osallistujalle. J&auml;rjestysnumero 25 miteltiin jo perinteisesti Kulosaaressa 18.11.2017. Verinen
        taistelu k&auml;ytiin yhdess&auml; sarjassa: Mestaruus. Toki mukana oli kaikille jotain ja mestaruudesta
        palkittiin my&ouml;s Hupi- ja Nelinpeliluokassa.<br><br>

        Kilpasarjassa nimens&auml; mukaisesti mitteliv&auml;t kaikki olympiatason sulkapalloilijat. Pelitapa oli
        uusituulahdus, joka lainattiin elektronisen urheilun puolelta ja tottelee nime&auml; Swiss System. Lohkot siis k&auml;ytiin
        periaatteella 3 voittoa jatkoon, 3 tappiota ja lauluun. Lohkovaiheet meniv&auml;t siidattujen pelaajien osalta
        muuten hyvin odotetusti, luukunottamatta kalamies-Laitisen Jampan jopa hieman n&auml;r&auml;&auml; her&auml;tt&auml;nytt&auml;
        siiman antoa ennalta heikompia vastustajia vastaan.<br><br>

        Hupisarjassa oli j&auml;lleen kymmeni&auml; ensikertalaisia kokeilemassa siipi&auml;&auml;n, mutta kuten VK:n
        arvomaailmaan kuuluu -"vain voittajat muistetaan". Per Saris tuli, oli ykk&ouml;ssiidi ja n&auml;in h&auml;n
        otti omansa - taas. Lieneek&ouml; t&auml;m&auml; luokkahuijari tulevan uuden sarjan nimelt&auml; harraste ensimm&auml;inen
        ykk&ouml;ssiidi.<br><br>

        Kilpasarjan kaaviovaiheessa pelit kovenivat ja tarjoilut paranivat. Kiitos j&auml;lleen kerran cateringille joka
        toimittaa taivaalliset piirakat rakkaille kilpailuosallistujillemme. "Kalamiehen" surffailu ja siiman jakaminen
        sai aikaan sen, ett&auml; moraalinen finaali pelattiinkin VK:n kotikent&auml;ll&auml; 3 jo puoliv&auml;lier&auml;vaiheessa.
        Kaksteistkertanemestar-Aro l&auml;hti ylimielisesti, vasta toista kertaa maailman kauneinpaan osallistuneeseen
        Jani "kahenkilonsiika" Laitista vastaan. T&auml;m&auml; "moraalinen finaali" kostautuikin farssiksi, sill&auml;
        Laitinen piti noin 20min privaatin VK:n veteraanimestarille. My&ouml;hemmin kaaviossa nuoriosuja Niilo Nyqvist
        poimi v&auml;lieriss&auml; oman privaattituntista Kalamiehelt&auml; ja finaalissa
        maajoukkue-Nico (Nicolas Vena) joutui my&ouml;s tunnustamaan urponer&auml;miehen valmentajakseen. N&auml;in
        ollen toista kertaa mukana ollut Jani Laitinen poistui paikalta pokaalin, lahjakorttien,... ...Ennen kaikkea sen
        maailman arvostetuimman sulkapallotittelin eli L&ouml;Scaban mestarin viitan kanssa.<br><br>

        Nelinpeliss&auml; sitten NuoriNiilo piti kaasun pohjassa ensimm&auml;iselt&auml; kierrokselta mestaruuteen
        asti... ...toivottavasti nelinpeli parille maju-Nicollekin tarttui muutama oppi matkaan!<br><br>

        Seura kiitt&auml;&auml; kaikkia osallistuneita ja toivottaa kaikki tervetulleiksi my&ouml;s jatkossa! Kev&auml;&auml;ll&auml;
        menn&auml;&auml;n seuraavan kerran ja alustavasti toukokuun puolenv&auml;lin hujakoilla.<br><br>

        Voittajia Onnitellen<br><br>

        Sulkapalloseura Voittamisen Kulttuuri</p><br><br>
    <p class="uutinen"><i><u>VK:sta Racketlon seura</u></i><br><br>
        VK on liittynyt <a target="_blank" href="http://www.racketlon.fi/">Racketlon<a>-liiton jäsenseuraksi.<br><br>

            Liiton kilpailutoimikunnan kanssa k&auml;ytyjen neuvotteluiden seurakusena sulkapalloseura Voittamisen
            Kulttuuri ry, on nyt my&ouml;s virallisesti <a target="_blank" href="http://www.racketlon.fi/">Racketlon<a>-seura.
                Seuran j&auml;senill&auml; on oikeus osallistuaa racketlon-liiton alaisiin kilpailuihin VK:n v&auml;reiss&auml;.
                VK:n
                seura- ja kilpailutoiminnan p&auml;&auml;fokus s&auml;ilyy tottakai sulkapallon ymp&auml;rill&auml;,
                mutta kehitysty&ouml;t&auml; racketlonin parissa aloitellaan kev&auml;&auml;n mittaan.<br><br>

                Racketloniin l&auml;hdet&auml;&auml;n my&ouml;s tapahtumien puolesta mukaan ja VK j&auml;rjest&auml;&auml;kin
                ensimm&auml;isen <a href="tapahtumat.html">racketlon turnauksen</a>
                jo tammikuun 19-20. Normaalista poiketen squash j&auml;&auml; pois ohjelmasta ja turnauksessa
                kilpaillaan pingiksen, sulkapallon ja tenniksen parissa, sill&auml;
                Kulosaaren pyh&auml;t&ouml;ll&auml; ei valitettavasti ole tarjota squashia varten kentti&auml;. Turnaus
                ei vaadi liiton kilpailulisenssi&auml;, joten ensikertalaiset
                p&auml;&auml;sev&auml;t helposti tutustumaan lajin saloihin Kulosaaressa.<br><br>

                Ilmoittautuminen turnaukseen tapahtuu s&auml;hk&ouml;postitse voittamisenkultuuriry@outlook.com tai <a
                        href="tapahtumat.html">turnaukset / tapahtumat</a> -linkin alta. Ilmottautumisaikaa
                on 15.1.2018, joten pikapikaa ilmottautumaan mukaan!<br><br>

                Yst&auml;v&auml;llisin Terveisin<br>
                VK-Hallitus</p>

</div>
<div id="sponsori_ikkuna">
    <p id="voittamassa_mukana">Voittamassa mukana:</p>
    <a target="_blank" href="http://www.amdigipaino.fi"><img class="logo" src="/images/AM_logo.jpg"></a><br>
    <a target="_blank" href="http://www.flowdrinks.com"><img class="logo" src="/images/Flow_logo.jpg"></a><br>
    <a target="_blank" href="http://www.kiinteistomaailma.fi/helsinki-itakeskus"><img class="logo"
                                                                                      src="/images/km_logo.jpg"></a><br>
    <a target="_blank" href="http://www.massagebob.com"><img class="logo" src="/images/Bob_logo.jpg"></a><br>
    <a target="_blank" href="http://www.seuravaate.fi" class="logo_text">www.seuravaate.fi</a><br><br>
    <a target="_blank" href="http://www.treffipub.com"><img class="logo" src="/images/treffi_logo.jpg"></a><br>
    <h class="logo_text">Tmi Hannu Aro</h>
    <br><br>
    <a target="_blank" href="http://www.victor.fi"><img class="logo" src="/images/Victor_logo.jpg"></a><br>
    <a target="_blank" href="http://www.restless.fi" class="logo_text">www.restless.fi</a>
</div>
</body>
