<!DOCTYPE html>

<head>
    <link rel="icon" href="../images/vk-ok-2.jpg">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../styles/uutiset.css">
    <title>The News</title>
</head>

<body>
<div id="otsikko_div">
    <img id="badminton_icon" src="/images/badminton_icon.png">
    <a href="../index.html"><img id="vk_logo" src="/images/vk_logo_purple.jpg"></a><br>
    &nbspSulkapalloseura Voittamisen Kulttuuri ry
</div>
<div id="contact_div">
    <p>voittamisenkulttuuriry@outlook.com</p>
    <p><a href="http://www.puhoscenter.fi/" style="color: white">Puhos Center Kulosaari</a></p>
    <p>Kulosaarentie 2, 00570 Helsinki</p>
</div>
<div id="topBarDiv">
    <button class="topBarButton" onclick="window.location.href='../index.html'">ETUSIVU</button>
    <button class="topBarButton" id="uutisetButton">UUTISET</button>
    <button class="topBarButton" onclick="window.location.href='yhteydenotto.html'">YHTEYDENOTTO</button>
    <button class="topBarButton" onclick="window.location.href='tapahtumat.html'">KILPAILUT / TAPAHTUMAT</button>
    <button class="topBarButton" onclick="window.location.href='yhteistyokumppanit.html'">YHTEISTY&Ouml;KUMPPANIT
    </button>
    <button class="topBarButton" onclick="window.location.href='racketlon.html'">RACKETLON</button>
    <button class="topBarButton">YHTEYSTIEDOT</button>
    <button class="topBarButton" onclick="window.location.href='liity_jaseneksi.html'">LIITY J&Auml;SENEKSI</button>
    <button class="topBarButton" onclick="window.location.href='valmennus.html'">VALMENNUS</button>
    <button class="topBarButton" onclick="window.location.href='vkry.html'">VK ry</button>
</div>
<div id="uutisikkuna">
    <h1>Uutisia</h1>
    <p class="uutinen"><u>Mailapelikisa Kulosaaressa!</u><br><br>
        Voittamisen Kulttuuri ry j&auml;rjest&auml;&auml; Mailapeli-turnauksen 19.-20.1.2018 Helsingin Kulosaaressa,
        Puhos Centeriss&auml;.
        It&auml;-helsinkil&auml;isest&auml; mailapelihallista l&ouml;ytyv&auml;t luonnollisesti hyv&auml;t
        mahdollisuudet mailapelikisalle.<br><br>

        Turnauksen kilpailulajit ovat p&ouml;yt&auml;tennis, sulkapallo ja tennis. Jokaisessa lajissa peli p&auml;&auml;ttyy,
        kun johdossa
        oleva pelaaja on voittanut 21 pistett&auml;. Lajivoittoon tarvitaan kuitenkin aina kahden pisteen ero. Pelaaja,
        joka
        ker&auml;&auml; kolmesta lajista eniten yhteispisteit&auml; voittaa mailapeli-ottelun.<br><br>

        Turnauksessa pelataan siis Racketlon -s&auml;&auml;nn&ouml;ill&auml; vaikka varsinaisesti puhumme t&auml;ss&auml;
        yhteydess&auml; vain
        mailapelikisasta koska squashia ei tosiaan pelata.<br><br>

        Turnaukseen osallistuminen ei edellyt&auml; mailapeliseuraa tai -lisenssi&auml;. Kilpalijoita ei n&auml;in ollen
        luonnollisesti
        vakuuteta, eik&auml; lisenssi ole t&auml;ten pakollinen. Vapaaehtoisen lisenssin, jolla voi kilpailla muissa
        kansallisissa
        kilpailuissa, voi halutessa ostaa turnauksen yhteydess&auml;. Luokkia on tarjolla kaiken tasoiseen
        kilpailemiseen
        sis&auml;lt&auml;en my&ouml;s ensikertalaisten luokan.<br><br>

        Osallistuminen ja ilmoittautuminen: voittamisenkulttuuriry@outlook.com TAI
        ilmoittautumislomakkeesta, joka l&ouml;ytyy <a
                href="tapahtumat.html">tapahtumat</a>-v&auml;lilehdest&auml;<br><br>

        Turnauksen kaaviot julkaistaan: www.voittamisenkultturi.com<br>
        Hannu Aro puh. 050 328 9319<br><br>

        <a target="_blank" href="http://www.racketlon.fi">www.racketlon.fi</a> sivulta l&ouml;ytyy my&ouml;s lis&auml;&auml;
        tietoa racketlon-lajista. </p><br><br>
    
    <p class="uutinen"><u>Mailapelikisan palkinnot ja sponsorit</u><br><br>
        Turnauksen tukena ovat mm. Bilia Volvo Herttoniemi, Breadstick No. 4, Flow Drinks, Kiinteist&ouml;maailma...<br>
        Autot vaihtoon kisan aikana! Volvon autot (V90 ja XC60 Hybrid) ovat kisojen aikana esittelyss&auml; ja koeajettavissa.<br>
        Turnauksen tankkauksesta pelisuorituksen aikana vastaa suomalainen Flow Drinks.<br>
        Asunnot myy Kiinteist&ouml;-Make id&auml;st&auml;.<br>
        P&auml;&auml;sarjan voittajat (Naiset ja Miehet A) palkitaan my&ouml;s vapaap&auml;&auml;syll&auml; "villikortti" Racketlonin SM-kisoihin 17.-18.3. (Myllypurossa) j&auml;rjest&auml;jien/rankingin mukaiseen paikkaan.
    </p>
    <br><br>


    <p class="uutinen"><u>Pingisvalmennusta</u><br><br>
        VKn mailapelikisan 19.-20.1.2018 yhteyteen on mahdollisuus saada p&ouml;yt&auml;tennisvalmennusta.
        Saksalaistaustainen ja
        yli 10 vuotta Suomessa asunut Alex Dyroff on lupautunut pit&auml;m&auml;&auml;n kahden tunnin valmennuksen
        kisaviikonlopun LA
        20.1. aamuna klo 9-11 ennen LA p&auml;iv&auml;n starttia. Hinta on 10 &euro;/hl&ouml;.<br><br>


        Valmennukseen voi ilmoittautua kisailmoittaumisen yhteydess&auml; tai <a
            href="http://markovalimaki@hotmail.com">markovalimaki@hotmail.com</a><br><br>


        Ps. Alexilla on my&ouml;s mailojen maahantuontia, joten h&auml;nelt&auml; voi my&ouml;s ostaa oman hyv&auml;n
        pingismailan joita ei norm.
        urheilukaupasta Suomessa valitettavasti saa.</p>


    <br><br>
    <p class="uutinen"><i><u>L&ouml;Scaba #25</u></i><br><br>
        Maailman kaunein sulkapalloturnaus j&auml;rjestettiin kahdennenkymmenennenviidennen kerran, Kulosaaressa
        tottakai!<br><br>

        Alkuun l&auml;mmin kiitos yhteisty&ouml;kumppaneille, jotka mahdollistivat t&auml;m&auml;n ikimuistoisen
        launtaiehtoon!<br><br>

        AM Digipaino, Flow Drinks, Kiinteist&ouml;maailma It&auml;keskus, massageBob, Tmi Hannu Aro, Treffi Pub,
        www.restless.fi, www.seuravaate.fi<br><br>

        <img id="loscaba_kuva" src="../images/loscaba_2015.jpg">
        Se puhutuin, se tavoitelluin, se kaunein, se hauskin, se kokonaisvaltaisin... ...se surullisin - ainakin niille
        49 muulle osallistujalle. J&auml;rjestysnumero 25 miteltiin jo perinteisesti Kulosaaressa 18.11.2017. Verinen
        taistelu k&auml;ytiin yhdess&auml; sarjassa: Mestaruus. Toki mukana oli kaikille jotain ja mestaruudesta
        palkittiin my&ouml;s Hupi- ja Nelinpeliluokassa.<br><br>

        Kilpasarjassa nimens&auml; mukaisesti mitteliv&auml;t kaikki olympiatason sulkapalloilijat. Pelitapa oli
        uusituulahdus, joka lainattiin elektronisen urheilun puolelta ja tottelee nime&auml; Swiss System. Lohkot siis k&auml;ytiin
        periaatteella 3 voittoa jatkoon, 3 tappiota ja lauluun. Lohkovaiheet meniv&auml;t siidattujen pelaajien osalta
        muuten hyvin odotetusti, luukunottamatta kalamies-Laitisen Jampan jopa hieman n&auml;r&auml;&auml; her&auml;tt&auml;nytt&auml;
        siiman antoa ennalta heikompia vastustajia vastaan.<br><br>

        Hupisarjassa oli j&auml;lleen kymmeni&auml; ensikertalaisia kokeilemassa siipi&auml;&auml;n, mutta kuten VK:n
        arvomaailmaan kuuluu -"vain voittajat muistetaan". Per Saris tuli, oli ykk&ouml;ssiidi ja n&auml;in h&auml;n
        otti omansa - taas. Lieneek&ouml; t&auml;m&auml; luokkahuijari tulevan uuden sarjan nimelt&auml; harraste ensimm&auml;inen
        ykk&ouml;ssiidi.<br><br>

        Kilpasarjan kaaviovaiheessa pelit kovenivat ja tarjoilut paranivat. Kiitos j&auml;lleen kerran cateringille joka
        toimittaa taivaalliset piirakat rakkaille kilpailuosallistujillemme. "Kalamiehen" surffailu ja siiman jakaminen
        sai aikaan sen, ett&auml; moraalinen finaali pelattiinkin VK:n kotikent&auml;ll&auml; 3 jo puoliv&auml;lier&auml;vaiheessa.
        Kaksteistkertanemestar-Aro l&auml;hti ylimielisesti, vasta toista kertaa maailman kauneinpaan osallistuneeseen
        Jani "kahenkilonsiika" Laitista vastaan. T&auml;m&auml; "moraalinen finaali" kostautuikin farssiksi, sill&auml;
        Laitinen piti noin 20min privaatin VK:n veteraanimestarille. My&ouml;hemmin kaaviossa nuoriosuja Niilo Nyqvist
        poimi v&auml;lieriss&auml; oman privaattituntista Kalamiehelt&auml; ja finaalissa
        maajoukkue-Nico (Nicolas Vena) joutui my&ouml;s tunnustamaan urponer&auml;miehen valmentajakseen. N&auml;in
        ollen toista kertaa mukana ollut Jani Laitinen poistui paikalta pokaalin, lahjakorttien,... ...Ennen kaikkea sen
        maailman arvostetuimman sulkapallotittelin eli L&ouml;Scaban mestarin viitan kanssa.<br><br>

        Nelinpeliss&auml; sitten NuoriNiilo piti kaasun pohjassa ensimm&auml;iselt&auml; kierrokselta mestaruuteen
        asti... ...toivottavasti nelinpeli parille maju-Nicollekin tarttui muutama oppi matkaan!<br><br>

        Seura kiitt&auml;&auml; kaikkia osallistuneita ja toivottaa kaikki tervetulleiksi my&ouml;s jatkossa! Kev&auml;&auml;ll&auml;
        menn&auml;&auml;n seuraavan kerran ja alustavasti toukokuun puolenv&auml;lin hujakoilla.<br><br>

        Voittajia Onnitellen<br><br>

        Sulkapalloseura Voittamisen Kulttuuri</p><br><br>
    <p class="uutinen"><i><u>VK:sta Racketlon seura</u></i><br><br>
        VK on liittynyt <a target="_blank" href="http://www.racketlon.fi/">Racketlon<a>-liiton alaiseksi
            seuraksi.<br><br>

            Liiton kilpailutoimikunnan kanssa k&auml;ytyjen neuvotteluiden seurakusena sulkapalloseura Voittamisen
            Kulttuuri ry, on nyt my&ouml;s virallisesti <a target="_blank" href="http://www.racketlon.fi/">Racketlon<a>-seura.
                Seuran j&auml;senill&auml; on oikeus osallistuaa racketlon-liiton alaisiin kilpailuihin VK:n v&auml;reiss&auml;.
                VK:n
                seura- ja kilpailutoiminnan p&auml;&auml;fokus s&auml;ilyy tottakai sulkapallon ymp&auml;rill&auml;,
                mutta kehitysty&ouml;t&auml; racketlonin parissa aloitellaan kev&auml;&auml;n mittaan.<br><br>

                Racketloniin l&auml;hdet&auml;&auml;n my&ouml;s tapahtumien puolesta mukaan ja VK j&auml;rjest&auml;&auml;kin
                ensimm&auml;isen <a href="tapahtumat.html">racketlon turnauksen</a>
                jo tammikuun 19-20. Normaalista poiketen squash j&auml;&auml; pois ohjelmasta ja turnauksessa
                kilpaillaan pingiksen, sulkapallon ja tenniksen parissa, sill&auml;
                Kulosaaren pyh&auml;t&ouml;ll&auml; ei valitettavasti ole tarjota squashia varten kentti&auml;. Turnaus
                ei vaadi liiton kilpailulisenssi&auml;, joten ensikertalaiset
                p&auml;&auml;sev&auml;t helposti tutustumaan lajin saloihin Kulosaaressa.<br><br>

                Ilmoittautuminen turnaukseen tapahtuu s&auml;hk&ouml;postitse voittamisenkultuuriry@outlook.com tai <a
                        href="tapahtumat.html">turnaukset / tapahtumat</a> -linkin alta. Ilmottautumisaikaa
                on 15.1.2018, joten pikapikaa ilmottautumaan mukaan!<br><br>

                Yst&auml;v&auml;llisin Terveisin<br>
                VK-Hallitus</p>

</div>
<div id="sponsori_ikkuna">
    <p id="voittamassa_mukana">Voittamassa mukana:</p>
    <a target="_blank" href="http://www.amdigipaino.fi"><img class="logo" src="/images/AM_logo.jpg"></a><br>
    <a target="_blank" href="http://www.flowdrinks.com"><img class="logo" src="/images/Flow_logo.jpg"></a><br>
    <a target="_blank" href="http://www.kiinteistomaailma.fi/helsinki-itakeskus"><img class="logo"
                                                                                      src="/images/km_logo.jpg"></a><br>
    <a target="_blank" href="http://www.massagebob.com"><img class="logo" src="/images/Bob_logo.jpg"></a><br>
    <a target="_blank" href="http://www.seuravaate.fi" class="logo_text">www.seuravaate.fi</a><br><br>
    <a target="_blank" href="http://www.treffipub.com"><img class="logo" src="/images/treffi_logo.jpg"></a><br>
    <h class="logo_text">Tmi Hannu Aro</h>
    <br><br>
    <a target="_blank" href="http://www.victor.fi"><img class="logo" src="/images/Victor_logo.jpg"></a><br>
    <a target="_blank" href="http://www.restless.fi" class="logo_text">www.restless.fi</a>
</div>
</body>
