body{
	background: cornsilk;
}

p{
	font-size: 0.8em;
	margin-top: 0px;
	margin-bottom: 0px;
}

#vk_logo{
	vertical-align: middle;
	margin-left: 2em;
	height: 3em;
	width:auto;
}

div{
	background-color: white;
	color: black;
	border: solid black;
}

#otsikko_div{
	font-family: Josefin Sans;
	font-size: 3em;
	font-weight: bold;
}

#contact_div{
	background-color: #efc4ff;/*#b794af;*/
	font-size: 1.2em;
	font-weight: 400;
}

#topBarDiv{
    background-color: black;
}

.topBarButton{
    margin-left: 7px;
	font-size: 1.5em;
	font-style: italic;
	font-weight: bold;
	color: #6B0090;
	background-color: black;

	border-radius: 1em;
	border: white solid 2px;
}

.topBarButton:hover{
	cursor: pointer;
	color: black;
	background-color: rebeccapurple;
}

#uutisikkuna{
	display: inline-block;
	float:left;
	width: 65vw;
	border: none;
	border-left: double #3d1935;
}

#uutiset{
	font-family: Josefin Sans;
	font-size: 1.2em;
}

#sponsori_ikkuna{
	display: inline-block;
	float: right;
	width: 27vw;
	border: solid #3d1935 1px;
	text-align: center;
}


 .logo{
	 display:block;
	 margin:auto;
	 width: auto;
	 height:4em;
 }
