body{
	background: cornsilk;
}

p{
	font-size: 1.2em;
}

#vk_logo{
	vertical-align: middle;
	margin-left: 2em;
	height: 3em;
	width:auto;
}

div{
	background-color: white;
	color: black;
	border: solid black;
}

#otsikko_div{
	font-size: 2em;
	font-weight: bold;
}

#contact_div{
	background-color: #b794af;
}

#topBarDiv{
    background-color: black;
}

.topBarButton{
    margin-left: 7px;
	font-size: 1.5em;
	font-style: italic;
	font-weight: bold;
	color: #e260ff;
	background-color: black;

	border-radius: 1em;
}

.topBarButton:hover{
	cursor: pointer;
	color: black;
	background-color: rebeccapurple;
}

#uutisikkuna{
	display: inline-block;
	float:left;
	width: 65vw;
	border: none;
	border-left: double #3d1935;
}

#sponsori_ikkuna{
	display: inline-block;
	float: right;
	width: 27vw;
	border: solid #3d1935 1px;
}

#voittamassamukana{
	text-align: center;
}
 .logo{
	 width: 24vw;
	 height:auto;
 }
