body{
    background: cornsilk;
}

p{
    font-size: 0.8em;
    margin-top: 0px;
    margin-bottom: 0px;
}

#badminton_icon{
    position: absolute;
    left: 0;
    bottom:0;
    height:3em;
}

#vk_logo{
    display:block;
    margin:auto;
    vertical-align: middle;
    height: 3em;
    width:auto;
}

div{
    background-color: white;
    color: black;
    border: solid black;
}

#otsikko_div{
    position: relative;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 3em;
    font-weight: bold;
}

#contact_div{
    color: white;
    background-color: #6B0090;/*#b794af;*/
    font-size: 1.2em;
    font-weight: 400;
}

#topBarDiv{
    background-color: black;
}

.topBarButton{
    margin-left: 7px;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    color: #6B0090;
    background-color: white;

    border-radius: 1em;
    border: gray solid 1px;
}

.topBarButton:hover{
    cursor: pointer;
    color: white;
    background-color: #6B0090;
}
#racketlonButton{
    color: white;
    background-color: #6B0090;
}

#uutisikkuna{
    display: inline-block;
    float:left;
    width: 65vw;
    border: none;
    border-left: double #3d1935;
    background-color: cornsilk;
}

.uutinen{
    font-family: Josefin Sans;
    font-size: 1.2em;

}

#sponsori_ikkuna{
    display: inline-block;
    float: right;
    width: 24vw;
    border: solid #3d1935 1px;
    text-align: center;
    background-color: white;
}
#voittamassa_mukana{
    margin-bottom: 1em;
}


.logo{
    display:block;
    margin:auto;
    width: auto;
    height:4em;
}
.logo_text{
    font-size: 1.3em;
}
