body{
    background: white;
}

p{
    font-size: 0.8em;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 1;
}

#badminton_icon{
    position: absolute;
    left: 0;
    bottom:0;
    height:3em;
}

#vk_logo{
    display:block;
    margin:auto;
    vertical-align: middle;
    height: 3em;
    width:auto;
}

div{
    background-color: white;
    color: black;
    border: solid black;
}

#otsikko_div{
    position: relative;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 3em;
    font-weight: bold;
}

#contact_div{
    color: white;
    background-color: #6B0090;/*#b794af;*/
    font-size: 1.2em;
    font-weight: 400;
}

#topBarDiv{
    background-color: black;
}

.topBarButton{
    margin-left: 7px;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    color: #6B0090;
    background-color: white;

    border-radius: 1em;
    border: gray solid 1px;
}

.topBarButton:hover{
    cursor: pointer;
    color: white;
    background-color: #6B0090;
}
#uutisetButton{
    color: white;
    background-color: #6B0090;
}

#uutisikkuna{
    display: inline-block;
    float:left;
    width: 65vw;
    border: none;
    border-left: double #3d1935;
    background-color: whitesmoke;
}

.uutinen{
    font-family: Josefin Sans;
    font-size: 1.2em;
}

#loscaba_kuva{
    width: 12em;
    float: left;
}

#sponsori_ikkuna{
    display: inline-block;
    float: right;
    width: 24vw;
    border: solid #3d1935 1px;
    text-align: center;
    background-color: white;
}
#voittamassa_mukana{
    margin-bottom: 1em;
}


.logo{
    display:block;
    margin:auto;
    width: auto;
    height:4em;
}
.logo_text{
    font-size: 1.3em;
}

.kisan_spons_logo{
    height: 3em;
}

#hansvalimaki_button{
    font-size: 1em;
    color: #6B0090;
    border: none;
    padding: 0px;
    background: none;
    font-family: Josefin Sans;
}

#hansvalimaki_button:hover{
    color: black;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: transparent;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: none;
    width: 80%; /* Could be more or less, depending on screen size */

}
#hansvalimaki_img{
    width: inherit;
}

/* The Close Button */
.close {
    color: white;
    font-size: 3em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}